<h1>Books</h1>

<!-- index -->
<table class="index_table">
    <tr>
      <th>Title</th>
      <th>Body</th>
    </tr>
  </thead>
  <tbody>
    <% @books.each do |book| %>
      <tr>
        <td>
          <%= book.title %>
        </td>

        <td>
          <%= book.body %>
        </td>

        <td>
          <%= link_to 'Show',book_path(book)%>
        </td>

        <td>
          <%= link_to 'Edit',edit_book_path(book) %>
        </td>
        
        <td>
          <%= link_to 'Destroy',book_path(book),method: :delete,"data-confirm" => "Are you sure?" %>
        </td>
      </tr>
      <% end %>
  </tbody>
</table>


<!-- 新規投稿 -->
<h2>New book</h2>

  <!-- errorメッセージの処理-->
  <% if @book.errors.any? %>
    <div class="error_messages">
      <!-- エラーメッセージ（header部分） -->
      <div class="error_head">
        <%= @book.errors.count %> errors prohibited this book from being saved:
      </div>

      <!-- エラーメッセージ（body部分） -->
      <ul class="error_body">
        <% @book.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form_for(@book) do |f| %>
    <!-- 新規投稿画面 -->
    <div class="new_content">
      <%= f.label :title %>
      <%= f.text_field :title %>
    </div>
    <div class="new_content">
      <%= f.label :body %>
      <%= f.text_area :body %>
    </div>
      <%= f.submit %>
  <% end %>